.container {
  // -55 because of mat-toolbar
  height: calc(100% - 55px);
  position: relative;
}

.view {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.controls {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  overflow: hidden;
  z-index: 9;
  transition: all 200ms ease-out;
}

.infos {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  z-index: 9;
  transition: all 200ms ease-out;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 12px;
}

.no {
  padding: 15px;
  margin-left: 100px;
  margin-top: 40px;
}

.fleche {
  margin-right: 5px;
}
