<header>
  <h1>Immergis street view</h1>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_X6jKRsmHYc?autoplay=1"
    frameborder="0"
    allow="accelerometer; autoplay;"
    allowfullscreen
  ></iframe>

  <!-- TODO : add some feature -->
  <p>
    <a
      mat-raised-button
      color="accent"
      style="margin-right: 10px"
      href="#"
      target="blank"
      >A link</a
    >
    <a mat-raised-button href="#" target="blank">An other link</a>
  </p>
</header>
