header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .flex-1 {
//   flex: 1 1 0%;
//   padding: 1rem 0.5rem 1rem 0.5rem;
//   margin: 0.5rem;
// }

.beta {
  font-size: 11px;
  margin-left: 6px;
}
