#map {
  width: 350px;
  height: 200px;
  opacity: 0.9;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-out;
  transition-delay: 200ms;
}

#map:hover {
  transition: all 100ms ease-in;
  width: 400px;
  height: 325px;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  #map {
    height: 25vh;
    width: 90vw;
    opacity: 1;
    margin: 6px;
  }
}

.skeleton {
  width: 350px;
  height: 200px;
  background: #444;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: hidden;
}

.camera {
  z-index: 1;
}
