// THIS --> https://material.io/design/color/#tools-for-picking-colors
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=fa8242
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";
@import "~src/styles/variables.scss";

@import url("https://use.typekit.net/jnq3uxd.css");

// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat-typography-config(
  $font-family: "sofia-pro",
);

@include mat-core($custom-typography);

// Light Theme

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($theme);

//  Dark theme
$dark-theme: mat-dark-theme(
  $app-primary-dark,
  $app-accent-dark,
  $app-warn-dark
);
.dark-theme {
  transition: all 2s ease;
  @include angular-material-theme($dark-theme);
}
