<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">🏠 Home</a>
      <a mat-list-item routerLink="/viewer" (click)="drawer.close()"
        >🎥 Viewer</a
      >
      <a
        mat-list-item
        routerLink="/auth/login"
        (click)="drawer.close()"
        *ngIf="!(afAuth.authState | async)"
        >🔑 Login</a
      >
      <a
        *ngIf="afAuth.authState | async"
        mat-list-item
        (click)="onSignOut(drawer)"
        >🏴‍☠️ Se déconnecter</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/"
        >Immergis roadview<span class="beta">(bêta)</span></span
      >

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/home">🏠 Home</a>
        <a mat-button routerLink="/viewer" routerLinkActive="active"
          >🎥 Viewer</a
        >
      </div>
      <a
        mat-button
        routerLink="/auth/login"
        routerLinkActive="active"
        *ngIf="!(afAuth.authState | async)"
        >🔑 Login</a
      >
      <!-- <a
        mat-button
        routerLink="/auth/login"
        *ngIf="afAuth.authState | async as user"
      >
        <img
          class="avatar"
          [src]="user.photoURL || 'assets/default-user.svg'"
        />
        Profile
      </a> -->

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="http://immergis.fr/" target="_blank">
          <i>🏢</i>
          <span>A propos d'Immergis</span>
        </a>
        <ng-container *ngIf="afAuth.authState | async as user">
          <a mat-menu-item (click)="onSignOut()">
            <i>🏴‍☠️</i>
            <span>Se déconnecter</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-menu-item id="email">
            <i>🙎‍♀️</i>
            <span>{{ user.email }}</span>
          </a>
        </ng-container>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
