<div class="flex-container">
  <div class="button-container">
    <button
      [disabled]="disabled"
      class="button"
      mat-raised-button
      aria-label="Aller à la photo suivante"
      (click)="onForward()"
    >
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
  <div class="button-container">
    <button
      [disabled]="disabled"
      class="button"
      mat-raised-button
      aria-label="Aller à la photo précèdente"
      (click)="onBack()"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
