@import "leaflet/dist/leaflet.css";

@import "./styles/custom-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sofia-pro, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}

.clusters {
  display: flex;
  border-radius: 50%;
  padding: 10px;
  background: #ec593f;
  border: 1px solid #af412e;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
